@model SimpleBlog.ViewModels.LayoutSidebar

@{
    Layout = null;
    // We're making it null because it's already in the layout. If it pulled from the layout it would create an infinite loop (fun to test later) because the layout renders a sidebar which renders a layout, etc...
}


<div class="panel panel-success" >
    <div class="panel-heading" >What is this?</div>
    <div class="panel-body" >
        <p>I feel I learned more about real-world web development through this Udemy course than anywhere else thus far.</p>
        <p></p>
        <p>Due to the in-depth DIY-all-aspects nature of the course I feel that I really understand how the site works.</p>
        <p></p>
        <p>Thus, I intend to continue to build and modify this project to learn and grow, while incidentally blogging about the process and any progress made towards the eventual launch of ScatterSchool at this URL.</p>
    </div>
</div>

@if (Model.Tags.Any())
{
    var maxPostsInTag = Model.Tags.Max(t => t.PostCount);

    <div class="panel panel-info tags" >
        <div class="panel-heading" >Tags</div>
        <div class="panel-body" >
            <div class="list-group" >
                @foreach (var tag in Model.Tags)
                {
                    var percent = Math.Ceiling((float) tag.PostCount/maxPostsInTag*100);

                    <a href="@Url.RouteUrl("Tag", new {tag.Id, tag.Slug})" class="list-group-item" >
                        <span class="name" >@tag.Name</span>
                        <span class="badge" >@tag.PostCount</span>
                        <span class="progress" >
                            <span class="progress-bar progress-bar-info" style="width: @percent%"></span>
                        </span>
                    </a>
                }
            </div>
        </div>
    </div>
}

@if (Model.IsLoggedIn && Model.IsAdmin)
{
    <div class="panel panel-default" >
        <div class="panel-heading" >Welcome back, @Model.Username!</div>
        <div class="panel-body" >
            <div class="btn-group btn-group-sm" >
                <a href="@Url.Action("index", "Posts", new {area = "Admin"})" class="btn btn-default" >Posts</a>
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" >
                    <span class="caret" ></span>
                </button>
                <ul class="dropdown-menu" >
                    <li>
                        <a href="@Url.Action("new", "Posts", new {area = "Admin"})" >Create Post</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group btn-group-sm">
                <a href="@Url.Action("index", "Users", new {area = "Admin"})" class="btn btn-default">Users</a>
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action("logout", "Auth")">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
}
else
{
    <div class="panel panel-default">
        <div class="panel-heading">To create or edit content:</div>
        <div class="panel-body">
            <div class="btn btn-sm">
                <a href="@Url.Action("index", "Posts", new {area = "Admin"})" class="btn btn-default">Log in</a>
            </div>
        </div>
    </div>
}

